.reactalicecarousel{
    position: relative;
    z-index: -1;
    width: 100%;
    margin: auto;
    direction: ltr;
    text-align: center;
    overflow-y: hidden;
    overflow-x: hidden;
    box-sizing: border-box;
    height: auto;
    padding-left: 0;
    padding-right: 0;
    display: flex;
}